# Read Data
* Read terrible data file and turn it into a sane csv

In [11]:
def load_and_pickle():
    import pickle
    import os
    with open('new.data', 'r') as reader, open('new.csv', 'w') as writer:
        new_line = []
        for line in reader:
            cells = [cell.strip() for cell in line.split(' ')]
            new_line.extend(cells)
            if new_line[-1] == 'name':
                writer.write(','.join(new_line))
                writer.write('\n')
                new_line = []
            
    df = pd.read_csv('new.csv')
    df.to_pickle('new.pickle.xz')
    os.remove('new.csv')

In [12]:
load_and_pickle()

In [14]:
df = pd.read_pickle('new.pickle.xz')

In [15]:
df

,1,15943882,63,1.1,-9,-9.1,-9.2,-27,1.2,145,...,-9.24,-9.25,-9.26,-9.27,-9.28,0.11,0.12,0.13,0.14,name
0,2,15964847,67,1,-9,-9,-9,-27,4,160,...,-9,-9,-9,-9,-9,0,0,0,0,name
1,3,15952199,67,1,-9,-9,-9,-27,4,120,...,-9,-9,-9,-9,-9,0,0,0,0,name
2,4,15929464,37,1,-9,-9,-9,-27,3,130,...,-9,-9,-9,-9,-9,0,0,0,0,name
3,6,11961207,41,0,-9,-9,-9,-27,2,130,...,-9,-9,-9,-9,-9,0,0,0,0,name
4,7,15970464,56,1,-9,-9,-9,-27,2,120,...,-9,-9,-9,-9,-9,0,0,0,0,name
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,315,17541960,45,1,-9,-9,-9,-27,1,110,...,-9,-9,-9,-9,-9,0,0,0,0,name
298,316,17541609,68,1,-9,-9,-9,-27,4,144,...,-9,-9,-9,-9,-9,0,0,0,0,name
299,317,17533380,57,1,-9,-9,-9,-27,4,130,...,-9,-9,-9,-9,-9,0,0,0,0,name
300,318,14640215,57,0,-9,-9,-9,-27,2,130,...,-9,-9,-9,-9,-9,0,0,0,0,name
301,319,17539736,38,1,-9,-9,-9,-27,3,138,...,-9,-9,-9,-9,-9,0,0,0,0,name