# Read Data
* Read terrible data file and turn it into a sane csv

In [78]:
import os
def load_and_pickle():
    import pickle
    import os
    with open('new.data', 'r') as reader, open('new.csv', 'w') as writer:
        new_line = []
        for line in reader:
            cells = [cell.strip() for cell in line.split(' ')]
            new_line.extend(cells)
            if new_line[-1] == 'name':
                writer.write(','.join(new_line[:-5]))
                writer.write('\n')
                new_line = []
            
    df = pd.read_csv('new.csv', header=None, index_col=0, na_values=[-9])
    # df.to_pickle('new.pickle.xz')
    os.remove('new.csv')
    return df

In [79]:
if not os.path.exists("new.pickle.xz"):
    df = load_and_pickle()

In [80]:
df[[2, 57]]

     2   57
0
1    63   0
2    67   2
3    67   1
4    37   0
6    41   0
..   ..  ..
315  45   1
316  68   2
317  57   3
318  57   1
319  38   0

[303 rows x 2 columns]

In [81]:
df

,1,2,3,4,5,6,7,8,9,10,...,75,76,77,78,79,80,81,82,83,84
0,,,,,,,,,,,,,,,,,,,,,
1,15943882,63,1,NaN,NaN,NaN,-27,1,145,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15964847,67,1,NaN,NaN,NaN,-27,4,160,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15952199,67,1,NaN,NaN,NaN,-27,4,120,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15929464,37,1,NaN,NaN,NaN,-27,3,130,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11961207,41,0,NaN,NaN,NaN,-27,2,130,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,17541960,45,1,NaN,NaN,NaN,-27,1,110,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,17541609,68,1,NaN,NaN,NaN,-27,4,144,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,17533380,57,1,NaN,NaN,NaN,-27,4,130,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,14640215,57,0,NaN,NaN,NaN,-27,2,130,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,17539736,38,1,NaN,NaN,NaN,-27,3,138,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,75,76,77,78,79,80,81,82,83,84
count,3.030000e+02,303.000000,303.000000,0.0,0.0,0.0,303.0,303.000000,303.000000,303.000000,...,303.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.618436e+07,54.438944,0.679868,NaN,NaN,NaN,-27.0,3.158416,131.689769,0.603960,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.071913e+06,9.038662,0.467299,NaN,NaN,NaN,0.0,0.960126,17.599748,0.489882,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.623013e+06,29.000000,0.000000,NaN,NaN,NaN,-27.0,1.000000,94.000000,0.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.629556e+07,48.000000,0.000000,NaN,NaN,NaN,-27.0,3.000000,120.000000,0.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.661174e+07,56.000000,1.000000,NaN,NaN,NaN,-27.0,3.000000,130.000000,1.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.711695e+07,61.000000,1.000000,NaN,NaN,NaN,-27.0,4.000000,140.000000,1.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.754196e+07,77.000000,1.000000,NaN,NaN,NaN,-27.0,4.000000,200.000000,1.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN